@font-face {
  font-family: "Rokh";
  src: url("../fonts/Rokh-ExtraLight.woff2") format("woff2"),
    url("../fonts/Rokh-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rokh";
  src: url("../fonts/Rokh-Light.woff2") format("woff2"),
    url("../fonts/Rokh-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rokh";
  src: url("../fonts/Rokh-Regular.woff2") format("woff2"),
    url("../fonts/Rokh-Regular.woff") format("woff");
  font-weight: normal; /* 400 */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rokh";
  src: url("../fonts/Rokh-Medium.woff2") format("woff2"),
    url("../fonts/Rokh-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rokh";
  src: url("../fonts/Rokh-SemiBold.woff2") format("woff2"),
    url("../fonts/Rokh-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rokh";
  src: url("../fonts/Rokh-Bold.woff2") format("woff2"),
    url("../fonts/Rokh-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rokh";
  src: url("../fonts/Rokh-ExtraBold.woff2") format("woff2"),
    url("../fonts/Rokh-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rokh";
  src: url("../fonts/Rokh-Black.woff2") format("woff2"),
    url("../fonts/Rokh-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
